.motors> div  {
    grid-area: motors;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
    height: 100%;
}

.motors > h4 {
    color: goldenrod;
    margin: 0;
}
.motors {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.motor {
    position: relative;
    display: flex;
    width: calc(40% - 14px);
    height: 0;
    padding: calc(20% - 7px) 0;
    border: cadetblue solid 2px;
    border-radius: 50%;
    background: aliceblue;
    color: black;
    align-items: center;
    justify-content: center;
}
